<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        #formgroup {
            display: block;
        }

        .create {
            color: blue;
            font-family: Bebas;
        }

        .navbar-brand {
            font-family: Bebas;
        }

        .card {
            display: block;
            text-align: center;

        }

        body {
            background-color: lightgray;
        }

        form {
            padding: 10px;
        }

    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <img src="/Logo.png" width="50px" height="50px" style="padding: 5px;">
        <a class="navbar-brand" href="#" style="color: whitesmoke">Bluthose</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>

            </ul>
            <form action="/post/search" method="get" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" id="inputSearch" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-dark" id="searchbtn" type="submit">Search</button>
                &nbsp;
                <a href="/post/createnewpost/newPost">
                    <button class="btn btn-light" id="newPostbtn" type="button">New Post</button>
                </a>
                &nbsp;

            </form>

            Welcome to bluthose, {{user.username}}!

            &nbsp;

            <a href="/user/logout"><button class="btn btn-dark" id="logoutPostbtn">Logout</button></a>

        </div>
    </nav>

    <!--
    <form action="/post" method="POST">
        Title : <input name="postTitle"> <br>
        Post : <input name="text"> <br>
        <input type="submit">

    </form>
-->


    <div class="mx-auto" style="width: 600px;">



        {{#each posts}}
            <div class="card text-left" style="width: 36rem; margin-top: 40px; ">
                <div style=" padding: 10px;">
                    <a href="/post/{{_id}}" style="text-decoration: none">
                        <h2>{{postTitle}}</h2>
                        <h5>Posted by: {{originalPosterUsername}}</h5>
                    </a> <br>
                    <h4>{{text}}</h4> <br>

                    <button>Edit...</button>
                    <a href="/post/delete/{{this.id}}" onclick="return confirm('Are you sure you want to delete this?')">--Delete--</a>


                </div>
            </div>
        {{/each}}

        <!--
                <p class="status">No  Posts  yet... </p>
                <img src="sadreddit.png" height="300px" class="nopost">
-->

    </div>
    {{#if error}}
        <div>{{error}}</div>
    {{/if}}

</body>

</html>
